In [2]:
import numpy as np

In [8]:
a=np.array([10,20,30,40,50,60,70,80,90,80])

In [9]:
b=np.array([5,10,15,20,25,30,35,40,45,50])

In [10]:
print("the sum of the array is \n",np.mean(a))
print("the max of the array is \n",np.max(b))
print("the min of the array is \n",np.min(a))
print("the mean of the array is \n",np.mean(a))
print("the std of the array is \n",np.std(b))
print("the median of the array is \n",np.median(b))

the sum of the array is
 53.0
the max of the array is
 50
the min of the array is
 10
the mean of the array is
 53.0
the std of the array is
 14.361406616345072
the median of the array is
 27.5

In [11]:
print("addition \n",a+b)
print("subtraction \n",a-b)
print("multiplication \n",a*b)
print("division \n",a/b)

addition
 [ 15  30  45  60  75  90 105 120 135 130]
subtraction
 [ 5 10 15 20 25 30 35 40 45 30]
multiplication
 [  50  200  450  800 1250 1800 2450 3200 4050 4000]
division
 [2.  2.  2.  2.  2.  2.  2.  2.  2.  1.6]

In [12]:
import pandas as pd

In [13]:
from functools import reduce

In [16]:
data={
    'name':['alica','bob','charlie','david'],
    'age':[25,30,25,45],
    'salary':[50000,30,25000,4500]
}
df=pd.DataFrame(data)

In [17]:
df

      name  age  salary
0    alica   25   50000
1      bob   30      30
2  charlie   25   25000
3    david   45    4500