In [2]:
import pandas as pd   
import numpy as np   
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("C:/Users/mehta/AIML-20CS51I/DataSets/Play Tennis.csv")
df.head()

  Day   Outlook Temprature Humidity    Wind Play_Tennis
0  D1     Sunny        Hot     High    Weak          No
1  D2     Sunny        Hot     High  Strong          No
2  D3  Overcast        Hot     High    Weak         Yes
3  D4      Rain       Mild     High    Weak         Yes
4  D5      Rain       Cool   Normal    Weak         Yes

In [5]:
x=df.drop(["Day","Play_Tennis"],axis=1)
y=df["Play_Tennis"]

In [9]:
lb=LabelEncoder()
y=lb.fit_transform(y)

In [10]:
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [11]:
x=pd.get_dummies(x)

In [12]:
x

    Outlook_Overcast  Outlook_Rain  Outlook_Sunny  ...  Humidity_Normal  Wind_Strong  Wind_Weak
0              False         False           True  ...            False        False       True
1              False         False           True  ...            False         True      False
2               True         False          False  ...            False        False       True
3              False          True          False  ...            False        False       True
4              False          True          False  ...             True        False       True
5              False          True          False  ...             True         True      False
6               True         False          False  ...             True         True      False
7              False         False           True  ...            False        False       True
8              False         False           True  ...             True        False       True
9              False          True          False  ...             True        False       True
10             False         False           True  ...             True         True      False
11              True         False          False  ...            False         True      False
12              True         False          False  ...             True        False       True
13             False          True          False  ...            False         True      False

[14 rows x 10 columns]

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [20]:
lgs=LogisticRegression()
model=lgs.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [22]:
print("cofusion metrix fro this \n",metrics.confusion_matrix(y_test,y_pred))
print("accuracy is \n",metrics.accuracy_score(y_test,y_pred))
print("classification re[rt is \n",metrics.classification_report(y_test,y_pred))

cofusion metrix fro this
 [[0 2]
 [0 3]]
accuracy is
 0.6
classification re[rt is
               precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.60      1.00      0.75         3

    accuracy                           0.60         5
   macro avg       0.30      0.50      0.38         5
weighted avg       0.36      0.60      0.45         5

C:\Users\mehta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\mehta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\mehta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])