In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
df = pd.read_csv("C:/Users/mehta/AIML-20CS51I/DataSets/Play Tennis.csv")
df.head()

  Day   Outlook Temprature Humidity    Wind Play_Tennis
0  D1     Sunny        Hot     High    Weak          No
1  D2     Sunny        Hot     High  Strong          No
2  D3  Overcast        Hot     High    Weak         Yes
3  D4      Rain       Mild     High    Weak         Yes
4  D5      Rain       Cool   Normal    Weak         Yes

In [3]:
X = df.drop(columns=['Play_Tennis'])   # features
y = df['Play_Tennis']                        # target

In [4]:
X = pd.get_dummies(X)
X

,Day_D1,Day_D10,Day_D11,Day_D12,Day_D13,Day_D14,Day_D2,Day_D3,Day_D4,Day_D5,...,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temprature_Cool,Temprature_Hot,Temprature_Mild,Humidity_High,Humidity_Normal,Wind_Strong,Wind_Weak
0,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,True,False,False,True
1,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,True,False,True,False,True,False
2,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,True,False,True,False,False,True
3,False,False,False,False,False,False,False,False,True,False,...,False,True,False,False,False,True,True,False,False,True
4,False,False,False,False,False,False,False,False,False,True,...,False,True,False,True,False,False,False,True,False,True
5,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,True,True,False
6,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,True,True,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,True,False,False,True
8,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,True,False,True
9,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,True,False,True
10,False,False,True,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,True,True,False
11,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,True,True,False,True,False
12,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,True,False,False,True,False,True
13,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,True,True,False,True,False

In [5]:
# Encode target variable (Yes=1, No=0)
le = LabelEncoder()
y = le.fit_transform(y)
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [6]:
# Split into Train/Test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42,stratify=y)

In [7]:
# -----------------------------
# 3. Logistic Regression Model
# -----------------------------
lg= LogisticRegression()
model=lg.fit(X_train,y_train)

In [13]:
# Predictions
y_pred = model.predict(X_test)

In [14]:
# 4. Evaluation
# -----------------------------
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:\n", metrics.confusion_matrix(y_test, y_pred))

Accuracy: 0.6

Confusion Matrix:
 [[0 2]
 [0 3]]

In [15]:
print("\nClassification Report:\n",metrics.classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.60      1.00      0.75         3

    accuracy                           0.60         5
   macro avg       0.30      0.50      0.38         5
weighted avg       0.36      0.60      0.45         5

C:\Users\mehta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\mehta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\mehta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report

In [23]:
df=pd.read_csv("C:/Users/mehta/AIML-20CS51I/DataSets/Play Tennis.csv")

In [24]:
df.head()

  Day   Outlook Temprature Humidity    Wind Play_Tennis
0  D1     Sunny        Hot     High    Weak          No
1  D2     Sunny        Hot     High  Strong          No
2  D3  Overcast        Hot     High    Weak         Yes
3  D4      Rain       Mild     High    Weak         Yes
4  D5      Rain       Cool   Normal    Weak         Yes

In [25]:
x=df.drop(columns=["Play_Tennis","Day"])
y=df["Play_Tennis"]

In [26]:
x=pd.get_dummies(x)
x

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temprature_Cool,Temprature_Hot,Temprature_Mild,Humidity_High,Humidity_Normal,Wind_Strong,Wind_Weak
0,False,False,True,False,True,False,True,False,False,True
1,False,False,True,False,True,False,True,False,True,False
2,True,False,False,False,True,False,True,False,False,True
3,False,True,False,False,False,True,True,False,False,True
4,False,True,False,True,False,False,False,True,False,True
5,False,True,False,True,False,False,False,True,True,False
6,True,False,False,True,False,False,False,True,True,False
7,False,False,True,False,False,True,True,False,False,True
8,False,False,True,True,False,False,False,True,False,True
9,False,True,False,False,False,True,False,True,False,True
10,False,False,True,False,False,True,False,True,True,False
11,True,False,False,False,False,True,True,False,True,False
12,True,False,False,False,True,False,False,True,False,True
13,False,True,False,False,False,True,True,False,True,False

In [27]:
le=LabelEncoder()
y=le.fit_transform(y)
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=141)

In [29]:
lr=LogisticRegression()
model=lr.fit(x_train,y_train)

In [30]:
y_pred=model.predict(x_test)

In [32]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))
print("Confusion matrix:",metrics.confusion_matrix(y_test,y_pred))

Accuracy: 0.3333333333333333
/nConfusion matrix:/n [[0 1]
 [1 1]]